version: "3.9"

services:
  mqtt:
    image: eclipse-mosquitto
    container_name: udtem-mqtt
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf

  edge:
    build:
      context: .
      dockerfile: edge/Dockerfile
    ports:
      - "8001:8001"
    depends_on:
      - ingestion
    environment:
      INGESTION_URL: http://ingestion:8002/ingest

  ingestion:
    build:
      context: .
      dockerfile: ingestion/Dockerfile
    ports:
      - "8002:8002"
    depends_on:
      - mqtt
    environment:
      MQTT_HOST: mqtt
      MQTT_PORT: 1883

  twin:
    build:
      context: .
      dockerfile: twin/Dockerfile
    ports:
      - "8003:8003"
    depends_on:
      - mqtt
    environment:
      MQTT_HOST: mqtt
      MQTT_PORT: 1883

  routing:
    build:
      context: .
      dockerfile: routing/Dockerfile
    ports:
      - "8004:8004"
    depends_on:
      - twin
    environment:
      TWIN_URL: http://twin:8003/state
